@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 43, 43, 43;
}

body {
  font-family: var(--font-space-mono);
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}